@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  /* Header */
  .header {
    padding-top: 24px;
    padding-bottom: 28px;
    height: 76px;
  }

  .logo {
    margin-right: 76px;
  }

  .navigation {
    margin-right: auto;
  }

  .navigation-link.current::after {
    top: 45.5px;
  }

  .contacts-list {
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 40px;
    max-width: none;
  }

  .contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* 1 секція */
  .hero {
    padding: 188px 0px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bgi-desk-1x.jpg);
  }
  .hero-title {
    margin-bottom: 48px;
  }

  /* 2 секція */
  .characteristics {
    padding: 120px 0px;
  }

  .benefits {
    flex-wrap: nowrap;
    flex-basis: calc((100% - 72px) / 4);
  }

  .icon-wrapper-benefits {
    height: 112px;
    background-color: var(--bg-icon);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .benefits-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
  }

  .paragraph-text {
    font-weight: 400;
    letter-spacing: 0.02em;
  }

  /* 3 секція присутня тільки на десктопі*/
  .what-company-does {
    display: block;
    padding-bottom: 120px;
  }

  .wawd-title {
    margin-bottom: 72px;
  }

  .wawd-photos-list {
    display: flex;
    gap: 24px;
  }

  .wawd-photos {
    background-image: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    );
    background-blend-mode: soft-light, normal;
    border: 1px solid #e7e9fc;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  /* 4 секція */
  .our-team {
    padding: 120px 0px;
  }
  .ot-ul {
    flex-wrap: nowrap;
  }

  /* 5 секція */
  .customers {
    padding: 120px 0px;
  }

  .customers-list {
    flex-wrap: nowrap;
  }

  /* footer */
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    width: 1158px;
  }

  .footer-wrapper {
    flex-wrap: nowrap;
    row-gap: 0px;
  }

  .logo-text-wrapper {
    margin-right: 120px;
  }

  .logo-footer {
    width: 100%;
  }

  .footer-text {
    width: 264px;
  }

  .footer-form {
    margin-left: 80px;
  }

  .input-btn-wrap {
    row-gap: 0;
  }

  /* модалка - наслідує стилі планшету */

  /*Portfolio styles*/
  .examples {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .filters {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
  }

  .filters-btn {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background-color: var(--bg-icon);
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .filters-btn:hover,
  .filters-btn:focus {
    background-color: #404bbf;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .content-item {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    width: calc((100% - 48px) / 3);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: fit-content;
  }

  .content-item:hover,
  .content-item:focus {
    border: 0.5px solid var(--bg-icon);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .overlay-wrapper {
    width: 360px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--logo-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .content-item:hover .overlay,
  .content-item:focus .overlay {
    transform: translatex(0%);
  }

  .overlay > .overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bg-icon);
  }

  .card-text {
    padding: 32px 0px 32px 16px;
  }

  .headertwo-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color);
    margin-bottom: 8px;
  }

  .text-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* Щільність пікселів: 2 */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bgi-desk-2x.jpg);
    }
  }
}
