@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }

  /* Щільність пікселів: 2 */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bgi-mob-2x.jpg);
    }
  }

  .header-container {
  }
}

@media screen and (min-width: 320px) and (max-width: 371px) {
  .accepting-label {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 427px) {
  .menu {
    padding-right: 40px;
  }
}
