@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    /* margin: 0; */
  }

  .header-container {
    max-width: none;
    align-items: baseline;
  }

  .navigation {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 0;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .navigation-link {
    text-decoration: none;
    color: var(--background-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link:hover,
  .navigation-link:focus,
  .navigation-link:active {
    color: #404bbf;
  }

  .navigation-link.current::after {
    display: block;
    position: absolute;
    content: "";
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    top: 40px;
    border-radius: 2px;
  }

  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    max-width: 120px;
  }

  .contacts {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts:hover,
  .contacts:focus,
  .contacts:active {
    color: #404bbf;
  }

  .menu-btn-open {
    display: none;
  }

  /* 1 секція */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bgi-tab-1x.jpg);
    padding-bottom: 108px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
  }

  /* 2 секція */
  .benefits {
    column-gap: 24px;
    flex-basis: calc((100% - 24px) / 2);
  }

  .benefits-header {
    text-align: left;
  }

  .characteristics-item {
    width: 356px;
  }

  /* 3 секція відсутня на планшеті */

  /* 4 секція */
  .our-team {
    padding-bottom: 104px;
  }

  .ot-ul {
    column-gap: 24px;
    row-gap: 64px;
  }

  /* 5 секція */
  .customers-list {
    column-gap: 24px;
  }

  .customers-list-item {
    width: 168px;
  }

  /*Footer*/
  .footer {
    padding-left: 92px;
  }

  .footer-container {
    justify-content: flex-start;
    column-gap: 24px;
  }

  .logo-footer {
    justify-content: flex-start;
  }

  .social-media-header {
    text-align: left;
  }

  .subscribe {
    justify-content: flex-start;
  }

  .input-btn-wrap {
    column-gap: 24px;
    justify-content: flex-start;
  }

  .footer-input {
    width: 264px;
  }

  /* модалка */
  .modal {
    max-width: 408px;
    padding: 72px 24px 24px 24px;
  }

  /* Щільність пікселів: 2 */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bgi-tab-2x.jpg);
    }
  }
}
